.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg-my.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    
    &__title {
        width: 535px;
        margin-top: 10px;
        color: #FFFFFF;
    }
    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 2;
        padding-left: 10px;
        color: #FFFFFF;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 300px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: #FFFFFF;
        font-weight: 700;
        &:hover {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}